.container{
    margin: 0 auto;
    width: 960px;
    box-shadow: 1px 2px 8px black;
}
.wrapper{
    padding: 10px;
}
.window{
    padding: 5px;
    background-color: blue;
    height: 25px;
}
.window li{
    list-style-type: none;
    float: right;
    margin-right: 5px;
}
.btn-close{
    color: white;
    background-color: red;
    padding: 3px 8px;
}
.btn-maximize, .btn-minimize{
    color: white;
    background: transparent;
    padding: 3px 8px;
}
a{
    text-decoration: none;
    color: black;
    margin-right: 5px;
}
.img{
    max-width: 300px;
    height: 200px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 1px 2px 8px black;
}